#HomeRecentActivity {
	height: 90vh;
	margin-top: 25px;
}

.ContentBox {
	border-radius: 10px;
	height: 50%;
}
.InnerContentBox {
	height: 100%;	
}

#RecentFileUploads {
	background: blue;
}

#FileInformation {
	background: yellow;
}